{% extends 'widgets/widget_template.html' %}
{% load custom_template %}
{% block custom_title_prop %}{% if title_logo %}style="background-size: auto 60%; background-position: 50%; background-repeat: no-repeat; background-image: url('/app_resource/{{ title_logo }}');"{% endif %}{% endblock %}
{% block widget_content %}

<style>

.widget-container {
    width: 1170px !important;
}

    body,
    html {
        margin:0;
        padding:0;
    }
    #nav ul {
        margin:0;
        padding:0;
        list-style:none;
    }
    #nav li {
        display:inline;
        margin:0;
        padding:0;
    }
    #header {
        padding:5px 10px;
    }
    h1 {
        margin:0;
    }
    #wrap {
        width:1060px;
        margin:0 auto;
        padding-top: 30px;
    }
    p {
        font-weight: 300;
        margin-bottom: 20px;
        white-space: normal;
    }
    #main {
        float: left;
        width: 540px;
        padding: 0 30px 10px 0;
    }
    #sidebar {
        width: 500px;
        float: right;
        padding: 0 0 0 10px;
    }
    .rl-data-label {
        display: inline-block;
        width: 170px;
        font-weight: 500;
    }
    .rl-data-label-util {
        padding-bottom: 50px;
        float: left;
    }
    .tb-cell {
        border-bottom: 1px solid #eaeaea;
        padding: 6px 0px;
        font-weight: 300;
    }
    .tb-cell:last-child {
        border-bottom: none;
    }
    .rl-app-logo {
        width: 48px;
        height: 48px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    #wrap a {
    }
    .head {
        position: relative;
        margin: 0 0 25px;
        font-weight: 300;
        font-size: 22px;
    }
    .head:after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 50px;
        height: 1px;
    }
    .subhead {
        position: relative;
        margin: 0 0 18px 0;
        padding-bottom: 2px;
        font-size: 20px;
        font-weight: 300;
    }
    .subhead:after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 35px;
        height: 1px;
    }
    .highlight {
        font-weight: 500;
    }
    #footer {
        clear:both;
        padding:5px 10px;
    }
    #footer p {
        margin:0;
    }
</style>

<div id="reversinglabs">
</div>

<div id="wrap">

    <div id="main">
        <h2 class="head">ReversingLabs Advanced Malware Analysis Platform</h2>

        <div class="tb-cell ellipsis rl-result-hash">
            <span class="rl-data-label">Status:</span>
            {{ parameters.status }}
        </div>
        <div class="tb-cell ellipsis rl-result-hash">
            <span class="rl-data-label">Threat Level (5 - highest): </span>
            {{ parameters.threat_factor }}
        </div>
        <div class="tb-cell rl-result-hash">
            <span class="rl-data-label rl-data-label-util">Classification results:</span>{{ parameters.scanners }}
        </div>
    </div>

    <div id="sidebar">
        <p><a href={{ parameters.a1000_link }} target="_blank">Click here to receive the detailed report on the file uploaded to the ReversingLabs A1000 Malware Analysis Platform &#8599;</a></p>
        <p><img class="rl-app-logo" src="https://www.reversinglabs.com/sites/files/new/a1000-logo_0.svg" alt="A1000">The ReversingLabs A1000 Malware Analysis Platform analyzes over 3,500 format families and maintains a curated and private repository of over 3.0 Billion goodware and malware samples with over 3,000 meta-data indicators per file. The A1000 is a powerful platform for SOC/CERTs to analyze, pivot, hunt and collaborate on unknown or identified threats.</p> 
        <p class="highlight">For more information on ReversingLabs solutions, please visit <a class="highlight" href="https://www.reversinglabs.com/products/malware-analysis-appliance.html">A1000</a> or email <a class="highlight" href="mailto:sales@reversinglabs.com">Sales.</a></p>
    </div>

    <div id="footer">
    </div>

</div>

{% endblock %}



